.MuiAppBar-colorPrimary {
    
    background-color: #fff !important;
}
.MuiListItem-root.Mui-selected {
    color: #000 !important;
    background-color: #a6e3ec !important;
    margin: 10px 15px !important;
}
.MuiListItem-root.Mui-selected .MuiListItemIcon-root {
    color: #080808 !important;
}
.MuiTableCell-body {
    color: #a0e4db !important; 
}
.MuiTableContainer-root {
    width: 100%;
    box-shadow: none;
}
.MuiTableHead-root {
    display: table-header-group !important;
    background: #2cc7de !important;
    border-bottom: 1px solid
    rgb(37 86 139 )!important;
}
.MuiOutlinedInput-notchedOutline {
    border-color: rgb(0 122 255);
}
.MuiTableCell-root {
    text-align: center !important;
    padding: 16px !important;
}
.MuiTableBody-root {
    background-color: #f6f6f6;
}