.MuiAppBar-colorPrimary {
    /* color: #fff !important; */
    background-color: #fff !important;
}
.MuiListItem-root.Mui-selected {
    color: #000 !important;
    background-color: #8af4ff !important;
    margin: 10px 15px !important;
}
.MuiListItem-root.Mui-selected .MuiListItemIcon-root {
    color: #01543d !important;
}
.MuiTableCell-body {
    color: #01543d !important; 
}
.MuiTableContainer-root {
    width: 100%;
    box-shadow: none;
    /* overflow-x: auto; */
}
.MuiTableHead-root {
    display: table-header-group !important;
    background: #8af4ff !important;
    border-bottom: 1px solid
    rgb(37 86 139 )!important;
}
.MuiOutlinedInput-notchedOutline {
    border-color: rgb(0 122 255);
}
.MuiTableCell-root {
    text-align: center !important;
    padding: 16px !important;
}
.MuiTableBody-root {
    background-color: #f6f6f6;
}